.chatMessage__container{
    margin: 10px;
    display: flex;
}

.chatMessage__isSentContainer{
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.chatMessage__msg{
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    max-width: 40vw;
    overflow-wrap: normal;
}

.chatMessage__msgisSent{
    background-color: #DCF8C6;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    max-width: 40vw;
    overflow-wrap: normal;
}